*.pyc
EgyptianOpenType/out/eot.ttf
EgyptianOpenType/out/vtp_stats.txt
EgyptianOpenType/out/EgyptianText_200_errors.txt
EgyptianOpenType/out/EgyptianText_200.vtp
EgyptianOpenType/out/EgyptianText_200.html
